// Cursor pointer on all elements with the click attribute
[click]{ 
  cursor: pointer;
}

body {
  font-family:'Times New Roman', Times, serif;
}

.start-page-text-on-image {
  position: absolute;
  width: 100%;
  margin-top: 0px;
  color: rgb(237, 243, 204);
  font-size: 50px;
}

.startsidacolor {
  color:rgb(243, 203, 240)
}