// Import fonts
@import 'fonts';

// Variable overrides for Bootstrap
// (look in bootstrap/variables to see
// which variables that exist)
@import 'variable-overrides';

// The whole Bootstrap library
@import 'bootstrap/bootstrap';

// My own CSS (as little as possible)
@import 'sticky-footer';
@import 'miscellaneous';

.myline {
  width: 700px;
  height: 20px;
  border-top: 3px solid black;
}

body { 
  background-image: url(/images/img/bricks.jpg);
  min-height: 100%;
  min-width: 1024px;

  width: 100%;
  height: auto;

  position: fixed;
  top: 0;
  left: 0;
}