// Import fonts
@import 'fonts';

// Variable overrides for Bootstrap
// (look in bootstrap/variables to see
// which variables that exist)
@import 'variable-overrides';

// The whole Bootstrap library
@import 'bootstrap/bootstrap';

// My own CSS (as little as possible)
@import 'sticky-footer';
@import 'miscellaneous';

// fonts from google
@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');

.myline {
  width: 700px;
  height: 20px;
  border-top: 3px solid black;
} //added a black line to salj to make it look better.