// Brighter links in navbar
.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.7);
}

h3 {
  margin-top: 40px;
}

h5 {
  margin-top: 30px;
}

h2, h3 {
  color:rgb(133, 120, 96);
}

code {
  font-family: 'Fira Code' !important;
}